@import "tailwindcss";

/*Scrollbar Utilities*/
@layer utilities {
  .minimal-scrollbar::-webkit-scrollbar {
    width: 2px;
  }

  .minimal-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .minimal-scrollbar::-webkit-scrollbar-thumb {
    background: #2b2b2b;
    border-radius: 2px;
  }

  /* Firefox */
  .minimal-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #2b2b2b transparent;
  }

  .minimal-scrollbar::-webkit-scrollbar-button {
    display: none;
    width: 0;
    height: 0;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 4px;
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(28, 66, 112, 0.75);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(28, 66, 112);
}
